p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

ion-card {
  ion-card-header {
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 4px;
    }

    ion-card-title {
      max-width: calc(100vw - 188px);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    ion-buttons {
      margin: -10px -0.75rem 0 0;
    }
  }

  ion-card-content ion-button {
    margin: 0;

    &:not(:last-child) {
      margin-right: 4px;
    }

    &[color="primary"]::part(native) {
      border: 2px solid var(--ion-color-primary);
      border-radius: 4px;
    }

    &[color="medium"]::part(native) {
      border: 2px solid var(--ion-color-medium);
      border-radius: 4px;
    }
  }
}

ion-textarea {
  margin-top: 1rem;
  border: 1px solid #7f7f7f;
  border-radius: 4px;
}

.indent {
  margin-left: 1.25rem;

  @media screen and (min-width: 992px) {
    margin-left: 2.5rem;
  }
}
