<ion-card *ngIf="visible">
  <ion-card-header>
    <div class="flex">
      <div>
        <ion-card-title color="secondary"> Anonymous </ion-card-title>
        <ion-card-subtitle color="tertiary">
          <em>
            Created: {{ comment.created | date: "MM/dd/YYYY" }}
            <span *ngIf="updated">
              Updated: {{ comment.updated | date: "MM/dd/YYYY" }}
            </span>
          </em>
        </ion-card-subtitle>
      </div>
      <ion-buttons slot="end">
        <ion-button (click)="edit()">
          <ion-icon name="pencil" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button (click)="delete()">
          <ion-icon name="trash" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ion-card-header>

  <ion-card-content>
    <p [innerHtml]="comment.content | linebreaks"></p>
    <ion-button
      color="medium"
      fill="outline"
      (click)="toggleReply()"
      *ngIf="!replyState"
    >
      Reply
    </ion-button>
    <ion-textarea
      (ionChange)="onReplyChange($event)"
      rows="5"
      placeholder="Add a reply here."
      *ngIf="replyState"
    >
    </ion-textarea>
    <ion-button
      color="primary"
      fill="{{ replyInput ? 'solid' : 'outline' }}"
      (click)="reply()"
      *ngIf="replyState"
    >
      Reply
    </ion-button>
    <ion-button
      color="medium"
      fill="outline"
      (click)="toggleReply()"
      *ngIf="replyState"
    >
      Cancel
    </ion-button>
  </ion-card-content>
</ion-card>
<div [class]="indent ? 'indent' : ''" *ngIf="visible">
  <app-comment
    [comment]="reply"
    [indentLevel]="indentLevel + 1"
    *ngFor="let reply of comment.replies"
  >
  </app-comment>
</div>
