<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button shape="round" routerLink="/find" routerDirection="back">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>HTTP 404: Not Found</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p class="ion-text-center">
          <ion-icon name="search"></ion-icon>
        </p>
        <h1>There was an error.</h1>
        <p>
          The specified resource could not be found. It may have been deleted,
          or perhaps it never existed.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
