<ion-header>
  <ion-toolbar class="searchbar">
    <ion-searchbar
      class="ion-no-padding"
      placeholder="Search icons here."
      (ionChange)="onSearchbarChange($event)"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-label>All Icons</ion-label>
      <ion-toggle [checked]="allIcons" (ionChange)="onAllIconsChange($event)">
      </ion-toggle>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <p id="breadcrumbs">
    <ion-text color="medium" [innerHTML]="breadcrumbs"></ion-text>
  </p>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="browse" (click)="onBrowseClick()">
      <ion-icon name="list"></ion-icon>
      <ion-label>Browse Library</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search-results">
      <ion-icon name="images"></ion-icon>
      <ion-label>Search Results</ion-label>
      <ion-badge *ngIf="badgeVisible">{{ count }}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
