<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ browseVisible ? "Browse Library" : searchResultsVisible ? "View Icons"
      : "" }}
    </ion-title>
    <ion-menu-button slot="end"></ion-menu-button>
  </ion-toolbar>

  <ion-toolbar class="searchbar">
    <ion-searchbar
      class="ion-no-padding"
      placeholder="Search icons here."
      (ionChange)="onSearchbarChange($event)"
    ></ion-searchbar>
    <ion-buttons slot="end">
      <ion-toggle
        (ionChange)="onAllIconsChange($event)"
      ></ion-toggle>
      <ion-label>All Icons</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="browse">
      <ion-icon name="list"></ion-icon>
      <ion-label>Browse Library</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search-results">
      <ion-icon name="images"></ion-icon>
      <ion-label>View Icons</ion-label>
      <ion-badge *ngIf="badgeVisible">{{ count }}</ion-badge>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
