<ion-header>
  <ion-toolbar>
    <ion-title>Browse Library</ion-title>
    <ion-menu-button slot="end"></ion-menu-button>
  </ion-toolbar>

  <ion-toolbar class="searchbar">
    <ion-searchbar
      class="ion-no-padding"
      placeholder="Type here to search icons."
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="browse">
      <ion-icon name="list"></ion-icon>
      <ion-label>Browse Library</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search-results">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search/View Icons</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
