<ion-card class="ion-margin-bottom" [routerLink]="['/blog/', post.id]">
  <ion-card-header>
    <ion-card-title color="dark" class="ion-no-padding">
      {{ post.title }}
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p
      [innerHtml]="
        (post.content + (post.content.length >= previewMax ? '&hellip;' : ''))
          | linebreaks
      "
    ></p>
    <ion-text color="primary">
      <em>
        Created:&nbsp;{{ post.created | date: "MM/dd/YYYY" }}
        <span *ngIf="updated">
          &bull; Updated:&nbsp;{{ post.updated | date: "MM/dd/YYYY" }}
        </span>
      </em>
    </ion-text>
  </ion-card-content>
</ion-card>
