<ion-header>
  <ion-toolbar>
    <ion-title> {{ createMode ? "Add" : "Update" }} a Category </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-label position="floating"> Name </ion-label>
            <ion-input
              (ionChange)="onInputChange($event.target.value)"
            ></ion-input>
          </ion-item>
          <ion-item class="ion-text-wrap">
            <ion-text>
              <em *ngIf="!parent">root</em>
              {{ parent ? parent.path : "" }} »
              {{ category ? category.name : "" }}
            </ion-text>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button
      class="ion-margin-horizontal"
      slot="end"
      type="submit"
      (click)="onSubmit()"
    >
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer>
