app-icon {
  display: inline-block;
}

ion-button {
  font-size: 2rem;
  line-height: 2;
}

.suggestions li {
  cursor: pointer;
}

ion-icon.speaker {
  padding: 0 8px;
  cursor: pointer;

  &[name="volume-mute"] {
    cursor: not-allowed;
  }
}

@media screen and (min-width: 768px) {
  ion-menu {
    --min-width: 448px;
    --max-width: 448px;
  }
}
