<ion-header>
  <ion-toolbar>
    <ion-spinner *ngIf="loadingCategories"></ion-spinner>
    <ion-title *ngIf="!loadingCategories">
      {{ path ? path : "Icons Page" }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button contentId="menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row [style.display]="page === 1 && loadingIcons ? 'flex' : 'none'">
      <ion-col class="spinner-wrapper">
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col *ngIf="(icons$ | async).results.length > 0">
        <ul class="icons ion-no-margin ion-no-padding">
          <li *ngFor="let icon of (icons$ | async).results">
            <app-icon (click)="clickIcon(icon)" [icon]="icon"></app-icon>
          </li>
        </ul>
      </ion-col>
      <ion-col
        *ngIf="(icons$ | async).results.length === 0"
        size-md="9"
        size-lg="7"
        size-xl="6"
      >
        <p class="ion-text-center">
          <ion-text color="medium">
            <em>No icons to show. Please broaden your search.</em>
          </ion-text>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="200px" (ionInfinite)="nextPage($event)">
    <ion-infinite-scroll-content> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<app-icon-detail></app-icon-detail>
