ion-grid {
  &,
  ion-row {
    height: 100%;
  }

  ion-row {
    flex-wrap: nowrap;
  }
}

ion-slides {
  height: 100%;

  ion-slide {
    padding: 2rem;

    & > div {
      max-height: calc(100vh - 100px);
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .content {
    text-align: left;
  }

  li {
    margin-bottom: 1rem;
  }

  ion-img {
    max-width: 250px;
    max-height: 250px;
    display: inline-block;
    margin: 1rem;
    border: 4px solid #7f7f7f;
  }

  #title img {
    width: 190px !important;
    height: 112px !important;
  }

  @media screen and (min-width: 768px) {
    p,
    li,
    ion-slide ion-grid {
      font-size: 1.5rem;
    }
  }

  #title {
    h2 {
      margin-top: 0;
    }
  }

  #number-of-words {
    div {
      width: 100%;
    }

    ion-col:first-child {
      text-align: right;
    }
  }

  #history {
    ion-col:first-child {
      text-align: right;
      max-width: 7rem;
    }
  }

  #demand {
    ion-col:first-child {
      max-width: 15rem;
    }
  }
}

.card-container {
  max-width: 22rem;

  ion-card {
    max-height: 80vh;
    max-width: 25rem;

    .ul-container {
      height: calc(80vh - 108px);
      overflow-y: auto;

      ul {
        padding-left: 0;
        height: 100%;

        li {
          font-size: 1.5rem;
          list-style: none;
          cursor: pointer;
        }
      }
    }
  }
}
