<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> </ion-buttons>
    <ion-title>About Us</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button contentId="menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="8">
        <ion-slides
          #slides
          (ionSlideNextEnd)="updatePage()"
          (ionSlidePrevEnd)="updatePage()"
        >
          <ion-slide id="title">
            <div>
              <img src="/assets/logo.png" />
              <h1>
                <ion-text color="primary">About IconSyntax</ion-text>
              </h1>
              <h2>
                <small>
                  <em>
                    <ion-text color="medium">
                      Swipe left<span class="ion-hide-xl-down">
                        or use the contents pane</span
                      >
                      to navigate.
                    </ion-text>
                  </em>
                </small>
              </h2>
            </div>
          </ion-slide>
          <ion-slide id="vision">
            <div>
              <h1><ion-text color="primary">About the Vision</ion-text></h1>
              <div class="content">
                <p>IconSyntax is about three things:</p>
                <ul>
                  <li>
                    an online library of searchable, audible, translatable
                    icons,
                  </li>
                  <li>
                    an online sentence generator for interactive narratives,
                  </li>
                  <li>
                    an appeal to artists to help us build the icon library.
                  </li>
                </ul>
                <p>
                  ILS is under construction, using these three assets:
                  Iconopedia, a vocabulary of over twenty thousand icons in
                  every word category, Instant English, a patented program which
                  provides interactive lessons in icon, and a
                  website&mdash;iconsyntax.org&mdash;to connect to artists,
                  developers and linguists and ask for their help.
                </p>
              </div>
            </div>
          </ion-slide>
          <ion-slide id="summary">
            <div>
              <h1><ion-text color="primary">Executive Summary</ion-text></h1>
              <div class="content">
                <p>
                  Instant English and Iconopedia have been in development and
                  use for three decades. Its inventor, MB Guinan, has recently
                  added NFT’s and a new website named IconSyntax.
                </p>
                <p>
                  It is our intent to invite Artists from everywhere in the
                  world to add to our database. Since words evoke different
                  images to different speakers, artists from cultures outside
                  the U.S. can supply synonyms that are ethnically specific.
                </p>
              </div>
            </div>
          </ion-slide>
          <ion-slide id="summary-continued">
            <div>
              <h1><ion-text color="primary">Executive Summary</ion-text></h1>
              <p class="ion-no-margin">
                <ion-text color="medium"><em>(continued)</em></ion-text>
              </p>
              <div class="content">
                <p>
                  To this end, we are looking for development funding. We are
                  pursuing multiple revenue streams and expect financial growth
                  as we increase the utility of the database.
                </p>
                <p>
                  You and your company can support this revolutionary project
                  and watch it change the internet.
                </p>
              </div>
            </div>
          </ion-slide>
          <ion-slide id="syntax">
            <div>
              <h1><ion-text color="primary">What Is Syntax?</ion-text></h1>
              <div class="content">
                <p>
                  To acquire a new language, babies, and second-language
                  learners need to first collect words. But a word, by itself
                  has no intentionality. It needs to combine. The first
                  combinations that make sense are phrasal verbs, like the ones
                  at the bottom of each of these pages. A visual syntax requires
                  an image for each word or phrase, and punctuation. This means
                  we need millions of images.
                </p>
                <p>
                  We will have an icon generator and a committee of editors to
                  critique new icons. The work can be done by a multitude of
                  artists, using social media, and we will make a global effort
                  to find them.
                </p>
              </div>
            </div>
          </ion-slide>
          <ion-slide id="good-icon">
            <div>
              <h1>
                <ion-text color="primary">What Makes a Good Icon?</ion-text>
              </h1>
              <div class="content">
                <p>
                  Good icons mean what they picture and are instantly understood
                  without words&mdash;“toilet”, “food”, “campsite”, “skiing”,
                  etc.
                </p>
                <p>
                  Icons need to be small enough to line up in a sentence. But
                  font-sized icons can be too small because there aren’t enough
                  pixels for detail. Abstract icons need to be learned, such as
                  the hamburger icon for menu.
                </p>
                <p>
                  Just like font families, icons sets should have the same
                  style, the same size, and a single light/dark color scheme.
                </p>
                <p>
                  An icon can have as many synonym images as one can imagine.
                </p>
              </div>
            </div>
          </ion-slide>
          <ion-slide id="parts-of-speech">
            <div>
              <h1>
                <ion-text color="primary">
                  What Are Icon Parts of Speech?
                </ion-text>
              </h1>
              <div class="content">
                <ul>
                  <li>
                    <strong>NOUNS</strong> and modifiers are pictograms.
                    Gray-scale photos can be used for proper nouns, such as
                    people or cities, or landmarks, or art.
                  </li>
                  <li>
                    <strong>VERBS</strong>: See examples of phrasal verbs on
                    each page here. A verb against a grayed background clues the
                    user that the verb is past tense.
                  </li>
                </ul>
              </div>
            </div>
          </ion-slide>
          <ion-slide id="parts-of-speech-continued">
            <div>
              <h1>
                <ion-text color="primary">
                  What Are Icon Parts of Speech?
                </ion-text>
              </h1>
              <p class="ion-no-margin">
                <ion-text color="medium">
                  <em>(continued)</em>
                </ion-text>
              </p>
              <div class="content">
                <ul>
                  <li>
                    <strong>FUNCTION WORDS</strong>&mdash;like conjunctions or
                    prepositions&mdash;are links between words that give the
                    sentence context.
                  </li>
                  <li>
                    <strong>PUNCTUATION AND NUMBERS</strong> are included in the
                    icon library.
                  </li>
                  <li>
                    <strong>COLOR</strong> is only used when it is a semantic
                    necessity, such as flags or color names.
                  </li>
                </ul>
              </div>
            </div>
          </ion-slide>
          <ion-slide id="number-of-words">
            <div>
              <h1>
                <ion-text color="primary">Are We There Yet?</ion-text>
              </h1>
              <div class="content">
                <ion-grid>
                  <ion-row class="tr">
                    <ion-col class="ion-text-nowrap" size="6">
                      <em>
                        <ion-text color="medium">Number of Words</ion-text>
                      </em>
                    </ion-col>
                    <ion-col class="ion-text-nowrap" size="6">
                      <em>
                        <ion-text color="medium">Language</ion-text>
                      </em>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">1,100,373</ion-col>
                    <ion-col size="6">Korean</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">500,000</ion-col>
                    <ion-col size="6">Japanese</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">260,000</ion-col>
                    <ion-col size="6">Italian</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">171,476</ion-col>
                    <ion-col size="6">English</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">150,000</ion-col>
                    <ion-col size="6">Russian</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="6">85,568</ion-col>
                    <ion-col size="6">Chinese</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </ion-slide>
          <ion-slide id="mary-beth">
            <div>
              <h1>
                <ion-text color="primary">Meet Mary Beth</ion-text>
              </h1>
              <div class="content">
                <ion-grid>
                  <ion-row class="ion-hide-xl-up">
                    <ion-col class="ion-text-center">
                      <ion-img src="/assets/mary_beth.png"></ion-img>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-hide-xl-down" size="4">
                      <ion-img src="/assets/mary_beth.png"></ion-img>
                    </ion-col>
                    <ion-col size="12" size-xl="8">
                      <p>
                        <strong>Mary Beth Guinan </strong>
                        <a href="mailto:marybethguinan@gmail.com"
                          >marybethguinan@gmail.com</a
                        >
                      </p>
                      <p>
                        <em>
                          BAE, Art Institute of Chicago, MS, Loyola U // artist,
                          Montessori Teacher, special and adult educator,
                          community activist // Published: Wall Street Journal /
                          Chicago Tribune / Academic Exchange Quarterly / U.S.
                          Patent Office / Evanston Clarion. Awards: Highest Leaf
                          - Women’s Venture Fund / David Award - Archeworks /
                          Excellence awards, CCC and AAWCC.
                        </em>
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </ion-slide>
          <ion-slide id="mary-beth-continued">
            <div>
              <h1>
                <ion-text color="primary">Meet Mary Beth</ion-text>
              </h1>
              <p class="ion-no-margin">
                <ion-text color="medium"><em>(continued)</em></ion-text>
              </p>
              <div class="content">
                <p>
                  “Icons are a bridge to reading for unschooled or dyslexic
                  adults, and second-language learners.”
                </p>
                <p>
                  “In the 1980’s I taught English to Cambodian refugees by
                  drawing sentences on the Board. It worked great, so I invented
                  and patented a program that read icon sentences to users while
                  they typed from dictation. The City Colleges of Chicago funded
                  the Windows 95 version and used it for over a decade. I drew
                  about 20,000 GIFs that I used in stories, songs, tests and
                  forms at Truman College. The icons became Iconopedia, a
                  multi-volume reference organized by parts of speech.”
                </p>
              </div>
            </div>
          </ion-slide>
          <ion-slide id="matt">
            <div>
              <h1>
                <ion-text color="primary">Meet Matt</ion-text>
              </h1>
              <div class="content">
                <ion-grid>
                  <ion-row class="ion-hide-xl-up">
                    <ion-col class="ion-text-center">
                      <ion-img id="matt-img-a" src="/assets/matt.png"></ion-img>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-hide-xl-down" size="4">
                      <ion-img id="matt-img-b" src="/assets/matt.png"></ion-img>
                    </ion-col>
                    <ion-col size="12" size-xl="8">
                      <p>
                        <strong>Matt McCarthy</strong>:
                        <a href="mailto:matt@mccarthycode.com">
                          matt@mccarthycode.com
                        </a>
                      </p>
                      <p>
                        <em>
                          Full-stack Web and mobile app developer. Manages
                          projects on Github: code hosting service and version
                          control system for open source and collaborative
                          coding. // Language fluencies: CSS, HTML, Python,
                          Sass, JavaScript, TypeScript, Bash // School and
                          courses: UIC, Coding Dojo.
                        </em>
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </ion-slide>
          <ion-slide id="robert">
            <div>
              <h1>
                <ion-text color="primary">Meet Robert</ion-text>
              </h1>
              <div class="content">
                <ion-grid>
                  <ion-row class="ion-hide-xl-up">
                    <ion-col class="ion-text-center">
                      <ion-img src="/assets/robert.png"></ion-img>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="ion-hide-xl-down" size="4">
                      <ion-img src="/assets/robert.png"></ion-img>
                    </ion-col>
                    <ion-col size="12" size-xl="8">
                      <p>
                        <strong>Robert Armband</strong>:
                        <a href="mailto:robert.armband@gmail.com">
                          robert.armband@gmail.com
                        </a>
                      </p>
                      <p>
                        <em>
                          President / CEO at Venado Consulting, LLC / Former
                          Publisher/CEO at La Raza Newspaper / Went to Maria
                          Regina Diocesan High School / Studied History /
                          Communications at SUNY at Stony Brook
                        </em>
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </ion-slide>
          <ion-slide id="history">
            <div>
              <h1>
                <ion-text color="primary">History</ion-text>
              </h1>
              <div class="content">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <h2>
                        <em>
                          <ion-text color="secondary">then</ion-text>
                        </em>
                      </h2>
                    </ion-col>
                    <ion-col>
                      <ul>
                        <li>Patented Icon Language Teaching Systems</li>
                        <li>Formed a corporation</li>
                        <li>
                          Contract with Chicago City Colleges for Instant
                          English/Windows 95
                        </li>
                        <li>Received grants and awards</li>
                        <li>Produced 20,000 icons Instant</li>
                      </ul>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <h2>
                        <em>
                          <ion-text color="secondary">now</ion-text>
                        </em>
                      </h2>
                    </ion-col>
                    <ion-col>
                      <ul>
                        <li>Formed NFT to market icons</li>
                        <li>
                          Hired Matt McCarthy to create a search app which finds
                          and uploads icons.
                        </li>
                        <li>
                          Drafting a plan to raise capital that may include a
                          crowd-funding campaign and the sale of NFT’s.
                        </li>
                      </ul>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </ion-slide>
          <ion-slide id="demand">
            <div>
              <h1>
                <ion-text color="primary">IconSyntax Is for and by:</ion-text>
              </h1>
              <div class="content">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <h2>
                        <em>
                          <ion-text color="secondary">Publishers</ion-text>
                        </em>
                      </h2>
                    </ion-col>
                    <ion-col>
                      <p>Add icons to existing lexical resources.</p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <h2>
                        <em>
                          <ion-text color="secondary">Linguists</ion-text>
                        </em>
                      </h2>
                    </ion-col>
                    <ion-col>
                      <p>
                        Create a latinized list of words from a language that is
                        “disappearing”.
                      </p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <h2>
                        <em>
                          <ion-text color="secondary">Teachers</ion-text>
                        </em>
                      </h2>
                    </ion-col>
                    <ion-col>
                      <p>
                        Create icon sentences for poems, songs, tests, forms,
                        and games.
                      </p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <h2>
                        <em>
                          <ion-text color="secondary">Artists</ion-text>
                        </em>
                      </h2>
                    </ion-col>
                    <ion-col>
                      <p>
                        Create monochrome icons, &#x2264;60px W &times; 54px H.
                        If it’s a photo, convert it to grayscale and email to
                        us.
                      </p>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <h2>
                        <em>
                          <ion-text color="secondary">Students</ion-text>
                        </em>
                      </h2>
                    </ion-col>
                    <ion-col>
                      <p>
                        Type or speak the word you want or shop around in the
                        library.
                      </p>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </ion-slide>
          <ion-slide id="business-goals">
            <div>
              <h1>
                <ion-text color="primary">Our Business Goals</ion-text>
              </h1>
              <div class="content">
                <ul>
                  <li>
                    Form or partner with a for-profit entity to market and
                    monetize IconSyntax.
                  </li>
                  <li>Expand the database. Add animated signs.</li>
                  <li>
                    Add voice recognition and voice translation functions.
                  </li>
                  <li>Reconfigure the dashboard design for mobile phone.</li>
                  <li>
                    Create an authoring application which will generate icon
                    sentences with the same functionality as the word search
                    api—TTS and sign.
                  </li>
                  <li>
                    Create and market NFT’s from the icons to generate new
                    revenue streams.
                  </li>
                </ul>
              </div>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
      <ion-col class="ion-hide-xl-down card-container" size="4">
        <ion-card class="ion-padding">
          <h2><ion-text color="dark">Contents</ion-text></h2>
          <div class="ul-container">
            <ul>
              <li
                class="ion-margin-bottom"
                *ngFor="let item of contents"
                (click)="onNavigate(item.index)"
              >
                <ion-text
                  class="no-select"
                  (mouseenter)="onMouseEnter($event)"
                  (mouseleave)="onMouseLeave($event, item.index)"
                  [color]="index === item.index ? 'warning' : 'medium'"
                >
                  {{ item.header }}
                </ion-text>
              </li>
            </ul>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
