.icons {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  li {
    display: flex;
    flex-direction: column;
    list-style: none;
    cursor: pointer;
  }
}

p {
  line-height: 1.6;
}
