ion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: none;
  --background: transparent;
  box-shadow: none;
  border-radius: 0;

  ion-text {
    h2 {
      font-size: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0;
    }

    h3 {
      font-size: 0.75rem;
      margin:  0;
    }
  }
}
