ion-searchbar {
  // Normally we would use .ion-padding-vertical here, but defining it this way
  // removes horizontal padding.
  padding: 16px 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  ion-card {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    .icon-frame {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    ion-text {
      h2 {
        margin-bottom: 0;
      }

      h3 {
        margin: 0.5rem 0 0 0;
      }
    }
  }
}
