<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        (click)="clickBack()"
        [style.display]="breadcrumbs.length > 0 ? 'inline-block' : 'none'"
        defaultHref="/find"
      >
      </ion-back-button>
    </ion-buttons>
    <ion-spinner *ngIf="loading"></ion-spinner>
    <ion-title *ngIf="!loading">
      {{ (category$ | async) === null ? 'Find Icons' : (category$ | async).path
      }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button contentId="menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="9" size-lg="7" size-xl="6">
        <ion-searchbar
          class="ion-margin-bottom"
          color="medium"
          placeholder="Filter Icons by Text"
        ></ion-searchbar>
        <h1 class="ion-margin-vertical">Categories</h1>
        <div class="spinner-wrapper" *ngIf="loading">
          <ion-spinner></ion-spinner>
        </div>
        <p
          class="italic ion-text-center"
          *ngIf="!loading && (children$ | async).results.length === 0"
        >
          <ion-text color="medium"> No more categories to show. </ion-text>
        </p>
        <ion-list *ngIf="!loading && (children$ | async).results.length > 0">
          <ion-item
            detail="true"
            button
            (click)="clickChild(category.id)"
            *ngFor="let category of (children$ | async).results"
          >
            <ion-text>{{ category.name }}</ion-text>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="9" size-lg="7" size-xl="6">
        <h1 class="ion-margin-vertical">Icons</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
