<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button
        shape="round"
        (click)="clickBack()"
        [style.display]="breadcrumbs.length > 0 ? 'inline-block' : 'none'"
      >
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-spinner *ngIf="loadingCategories"></ion-spinner>
    <ion-title *ngIf="!loadingCategories">
      {{ path ? path : 'Library' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button contentId="menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content id="categories">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="9" size-lg="7" size-xl="6">
        <ion-searchbar
          class="ion-margin-bottom ion-no-padding"
          color="medium"
          placeholder="Filter Icons by Text"
          (ionChange)="searchbar($event.target.value)"
        ></ion-searchbar>
        <div class="header ion-margin-vertical">
          <h1 class="ion-no-margin">Library</h1>
          <ion-button class="ion-no-margin" routerLink="/category/create">
            <ion-icon name="add" slot="start"> </ion-icon>
            Add Category
          </ion-button>
        </div>
        <div
          class="spinner-wrapper"
          [style.display]="loadingCategories ? 'flex' : 'none'"
        >
          <ion-spinner></ion-spinner>
        </div>
        <p
          class="ion-text-center"
          [style.display]="!loadingCategories && (categories$ | async).data.length === 0 ? 'block' : 'none'"
        >
          <ion-text color="medium">
            <em>No more groups to show.</em>
          </ion-text>
        </p>
        <ion-list
          [style.display]="!loadingCategories && (categories$ | async).data.length > 0 ? 'block' : 'none'"
        >
          <ion-item-sliding
            *ngFor="let category of (categories$ | async).data"
          >
            <ion-item detail="true" button (click)="clickCategory(category.id)">
              <ion-text>{{ category.name }}</ion-text>
            </ion-item>

            <ion-item-options side="end">
              <ion-item-option
                color="tertiary"
                routerLink="/category/update/{{category.id}}"
              >
                Update
              </ion-item-option>
              <ion-item-option
                color="danger"
                (click)="deleteCategory(category.id)"
              >
                Delete
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="9" size-lg="7" size-xl="6">
        <div class="header ion-margin-top">
          <h1 class="ion-no-margin">Icons</h1>
          <ion-button class="ion-no-margin" routerLink="/icon/create">
            <ion-icon name="add" slot="start"> </ion-icon>
            Add Icon
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row [style.display]="page === 1 && loadingIcons ? 'flex' : 'none'">
      <ion-col class="spinner-wrapper">
        <ion-spinner></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row
      class="ion-justify-content-center"
      [style.display]="page === 1 && loadingIcons ? 'none' : 'flex'"
    >
      <ion-col *ngIf="(icons$ | async).data.length > 0">
        <ul class="icons ion-no-margin ion-no-padding">
          <li *ngFor="let icon of (icons$ | async).data">
            <app-icon (click)="clickIcon(icon)" [icon]="icon"></app-icon>
          </li>
        </ul>
      </ion-col>
      <ion-col
        *ngIf="(icons$ | async).data.length === 0"
        size-md="9"
        size-lg="7"
        size-xl="6"
      >
        <p class="ion-text-center">
          <ion-text color="medium">
            <em>No icons to show. Please broaden your search.</em>
          </ion-text>
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll threshold="200px" (ionInfinite)="nextPage($event)">
    <ion-infinite-scroll-content> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
