ion-searchbar {
  // Normally we would use .ion-padding-vertical here, but defining it this way
  // removes horizontal padding.
  padding: 16px 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  li {
    display: flex;
    flex-direction: column;
    list-style: none;
    cursor: pointer;
  }
}
