<ion-app>
  <ion-split-pane [disabled]="homePage" when="md" contentId="main">
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-menu-button contentId="menu">
              <ion-icon name="close"></ion-icon>
            </ion-menu-button>
          </ion-buttons>
          <ion-title>iconSyntax</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-item button routerLink="/" (click)="onMenuClick()">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-text> Home </ion-text>
          </ion-item>
          <ion-item
            *ngIf="!isAuthenticated"
            button
            routerLink="/login"
            (click)="onMenuClick()"
          >
            <ion-icon name="log-in" slot="start"></ion-icon>
            <ion-text> Login/Register </ion-text>
          </ion-item>
          <ion-item
            *ngIf="isAuthenticated"
            button
            (click)="logout(); onMenuClick()"
          >
            <ion-icon name="log-out" slot="start"></ion-icon>
            <ion-text> Logout </ion-text>
          </ion-item>
          <ion-item button routerLink="/icons/browse" (click)="onMenuClick()">
            <ion-icon name="image" slot="start"></ion-icon>
            <ion-text> Library </ion-text>
          </ion-item>
          <ion-item
            *ngIf="isAuthenticated"
            routerLink="/icons/create"
            (click)="onMenuClick()"
            button
          >
            <ion-icon name="add" slot="start"></ion-icon>
            <ion-text> Add an Icon </ion-text>
          </ion-item>
          <ion-item routerLink="/bookshelf" (click)="onMenuClick()" button>
            <ion-icon name="library" slot="start"></ion-icon>
            <ion-text> Bookshelf </ion-text>
          </ion-item>
          <ion-item routerLink="/notes" (click)="onMenuClick()" button>
            <ion-icon name="document-text" slot="start"></ion-icon>
            <ion-text> Notes </ion-text>
          </ion-item>
          <ion-item routerLink="/about" button (click)="onMenuClick()">
            <ion-icon name="information" slot="start"></ion-icon>
            <ion-text> About iconSyntax </ion-text>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
  <app-icon-detail></app-icon-detail>
</ion-app>
