ion-split-pane {
  --side-max-width: 20rem;
  --side-min-width: 20rem;
  --side-width: 20rem;
}

ion-menu {
  --max-width: 18rem;
  --min-width: 18rem;
  --width: 18rem;

  ion-title {
    font-family: "Libre Baskerville", serif;
    letter-spacing: 4px;
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.find {
  --background: #d5dce4;
  --color: var(--ion-color-light);

  ion-icon {
    color: var(--ion-color-light);
  }
}

ion-icon[name="close"] {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  ion-menu {
    --max-width: 20rem;
    --min-width: 20rem;
    --width: 20rem;
  }
}
