ion-card-title {
  font-size: 1.625rem;
}

ion-card-subtitle,
ion-card-content p {
  font-size: 1.25rem;
}

ion-textarea {
  background-color: #7f7f7f !important;
  color: black;
  border-radius: 4px;
}

ion-button {
  margin: 1rem 0 0 0;
}
