<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/blog"></ion-back-button>
    </ion-buttons>
    <ion-title> Blog </ion-title>
    <ion-buttons slot="end" *ngIf="isAdmin">
      <ion-button (click)="update()">
        <ion-icon name="pencil" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button (click)="delete()">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding" *ngIf="post">
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-no-padding" size-lg="9" size-xl="8">
        <ion-card class="ion-margin-bottom">
          <ion-card-header>
            <ion-card-title color="secondary" class="ion-no-padding">
              {{ post?.title }}
            </ion-card-title>
            <ion-card-subtitle color="tertiary">
              <em>
                Created: {{ post?.created | date: "MM/dd/YYYY" }}
                <span *ngIf="updated">
                  Updated: {{ post?.updated | date: "MM/dd/YYYY" }}
                </span>
              </em>
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            <p [innerHTML]="post?.content | linebreaks"></p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-no-padding" size-lg="9" size-xl="8">
        <h1 class="ion-margin-horizontal">Comments</h1>
        <ion-card>
          <ion-card-content>
            <ion-textarea
              (ionChange)="onCommentChange($event)"
              rows="5"
              placeholder="Add a comment here."
            >
            </ion-textarea>
            <ion-button
              color="primary"
              fill="{{ commentInput ? 'solid' : 'outline' }}"
              (click)="comment()"
            >
              Comment
            </ion-button>
          </ion-card-content>
        </ion-card>
        <app-comment *ngFor="let comment of post.comments" [comment]="comment">
        </app-comment>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
