<ion-header>
  <ion-toolbar>
    <ion-title> {{ mode === "create" ? "Add" : "Update" }} an Icon </ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" (click)="onClose()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <form [formGroup]="form" enctype="multipart/form-data">
          <ion-list>
            <ion-card class="content">
              <ion-card-content>
                <p>
                  Please click <em>Browse</em> to select an icon from your
                  computer, then enter the <em>Word</em> the image describes.
                </p>
                <p>
                  If your word has multiple meanings, please enter a related word or phrase under <em>Descriptor</em>.
                </p>
              </ion-card-content>
            </ion-card>
            <ion-item *ngIf="mode === 'create'">
              <ion-input
                type="file"
                formControlName="icon"
                (change)="onFileChange($event)"
              ></ion-input>
              <ion-text
                *ngIf="
                  mode === 'create' &&
                  form.get('icon').touched &&
                  form.get('icon').errors?.required
                "
                class="file-error"
                color="danger"
              >
                <small>This field is required.</small>
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Word</ion-label>
              <ion-input
                name="word"
                type="text"
                formControlName="word"
                (ionChange)="onWordChange($event)"
              ></ion-input>
              <ion-text
                *ngIf="
                  form.get('word').touched && form.get('word').errors?.required
                "
                class="error"
                color="danger"
              >
                <small>This field is required.</small>
              </ion-text>
              <ion-text
                *ngIf="form.get('word').errors?.maxlength"
                class="error"
                color="danger"
              >
                <small>
                  This field may not contain more than 40 characters.
                </small>
              </ion-text>
            </ion-item>
            <ion-item>
              <ion-label position="floating">
                Descriptor
                <ion-text color="medium">
                  <em>(optional)</em>
                </ion-text>
              </ion-label>
              <ion-input
                name="descriptor"
                type="text"
                formControlName="descriptor"
                (ionChange)="onDescriptorChange($event)"
              ></ion-input>
              <ion-text
                *ngIf="form.get('descriptor').errors?.maxlength"
                class="error"
                color="danger"
              >
                <small>
                  This field may not contain more than 80 characters.
                </small>
              </ion-text>
            </ion-item>
            <ion-item class="ion-text-wrap">
              <ion-text>
                <span *ngIf="category?.data.path">{{ category.data.path }} » </span>
                {{ category.data.name }} » {{ form.value.word }}
              </ion-text>
            </ion-item>
          </ion-list>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      class="ion-margin-horizontal"
      slot="end"
      type="submit"
      (click)="onSubmit()"
      [disabled]="!form.valid"
    >
      Submit
    </ion-button>
  </ion-toolbar>
</ion-footer>
