<ion-header>
  <ion-toolbar>
    <ion-title>Submit an Icon</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button contentId="menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="9" size-lg="7" size-xl="6">
        <h1>How to Submit an Icon</h1>
        <p>
          First, please tell us what kind of icon you are uploading. Do any of
          the following groups (under <em>Library</em>) match your icon? Some
          have more specific groups inside once you select them.
        </p>
        <p>
          If you don't see a matching group, you may create one by choosing "Add
          Group Here" once you find a good place for the group to hold your
          icon.
        </p>
        <p>
          If you do see a matching group, click it and choose "Add Icon Here."
        </p>
        <p>Thank you for contributing to iconSyntax!</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col class="ion-no-padding" size-md="9" size-lg="7" size-xl="6">
        <h1>Library</h1>
        <ul class="top">
          <li *ngFor="let category of categoriesTree?.children">
            <app-category-node [category]="category"> </app-category-node>
          </li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button
        color="medium"
        [disabled]="activeCategoryId === null"
        (click)="onReset()"
      >
        Reset Selection
      </ion-button>
      <ion-button
        color="medium"
        [disabled]="activeCategoryId === null"
        (click)="onAddGroup()"
      >
        Add Group Here
      </ion-button>
      <ion-button
        color="primary"
        [disabled]="activeCategoryId === null"
        (click)="onAddIcon()"
      >
        Add Icon Here
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
