<ion-header>
  <ion-toolbar>
    <ion-title>Blog</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addPost()" *ngIf="isAdmin">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-menu-button contentId="menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="9" size-lg="7" size-xl="6">
        <app-post-tile [post]="post" *ngFor="let post of posts"></app-post-tile>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
