<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="refresh()">
        <ion-icon slot="icon-only" name="refresh"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Blog</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="create()" *ngIf="isAdmin">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
      <ion-menu-button contentId="menu"> </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="9" size-xl="8">
        <app-post-tile [post]="post" *ngFor="let post of posts"></app-post-tile>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll
    [hidden]="postsLoaded"
    threshold="200px"
    (ionInfinite)="nextPage($event)"
  >
    <ion-infinite-scroll-content> </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
