/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Font family imports */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

#main ion-content {
  --background: var(--dark-blue);
}

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
}

ion-item {
  line-height: 1.6;
}

// ion-card.content {
//   margin: 1rem 0;
//   border-radius: 0;
//   box-shadow: none;
//   -webkit-box-shadow: none;

//   ion-card-content p {
//     font-size: 1rem;
//     color: var(--ion-text-color);
//     margin-bottom: 1rem;

//     @media screen and(min-width: 768px) {
//       & {
//         font-size: 1.25rem;
//       }
//     }

//     @media screen and(min-width: 992px) {
//       & {
//         font-size: 1.5rem;
//       }
//     }
//   }
// }

// .toast {
//   &::part(message) {
//     line-height: 1.25;
//   }

//   @media screen and(min-width: 768px) {
//     & {
//       font-size: 1.25rem;
//     }

//     &::part(button) {
//       font-size: 1.125rem;
//     }
//   }

//   @media screen and(min-width: 992px) {
//     & {
//       font-size: 1.5rem;
//     }

//     &::part(button) {
//       font-size: 1.25rem;
//     }
//   }
// }

// .loader {
//   @media screen and(min-width: 768px) {
//     & {
//       font-size: 1.25rem;
//       --max-width: 350px;
//     }
//   }

//   @media screen and(min-width: 992px) {
//     & {
//       font-size: 1.5rem;
//       --max-width: 400px;
//     }
//   }
// }

// ion-item-option {
//   @media screen and(min-width: 768px) {
//     & {
//       font-size: 1.25rem;
//     }
//   }
// }

// .alert {
//   @media screen and (min-width: 768px) {
//     & {
//       --min-width: 375px;
//       --max-width: 390px;
//     }

//     .alert-title {
//       font-size: 1.5rem;
//     }

//     .alert-sub-title {
//       font-size: 1.25rem;
//     }

//     .alert-message,
//     .alert-button {
//       font-size: 1.25rem;
//     }
//   }

//   @media screen and (min-width: 992px) {
//     & {
//       --min-width: 500px;
//       --max-width: 560px;
//     }

//     .alert-title {
//       font-size: 1.75rem;
//     }

//     .alert-sub-title {
//       font-size: 1.5rem;
//     }

//     .alert-message,
//     .alert-button {
//       font-size: 1.5rem;
//     }
//   }
// }

// @media screen and (min-width: 768px) {
//   h1 {
//     font-size: 2rem;
//   }

//   h2 {
//     font-size: 1.875rem;
//   }

//   h3 {
//     font-size: 1.75rem;
//   }

//   h4 {
//     font-size: 1.625rem;
//   }

//   h5 {
//     font-size: 1.5rem;
//   }

//   h6,
//   p,
//   li,
//   a,
//   ion-button,
//   ion-icon {
//     font-size: 1.375rem;
//   }

//   ion-button {
//     height: 2.5rem;
//   }

//   ion-menu {
//     --max-width: 23rem;
//     --min-width: 23rem;
//     --width: 23rem;
//   }

//   ion-toolbar {
//     --min-height: 4rem;

//     ion-title {
//       font-size: 1.5rem;
//     }
//   }

//   ion-item {
//     font-size: 1.5rem;
//     --min-height: 4rem;

//     ion-icon {
//       font-size: 2rem;
//     }
//   }
// }

// @media screen and (min-width: 992px) {
//   h1 {
//     font-size: 2.5rem;
//   }

//   h2 {
//     font-size: 2.375rem;
//   }

//   h3 {
//     font-size: 2.25rem;
//   }

//   h4 {
//     font-size: 2.125rem;
//   }

//   h5 {
//     font-size: 2rem;
//   }

//   h6,
//   p,
//   li,
//   a,
//   ion-button,
//   ion-icon {
//     font-size: 1.75rem;
//   }
//   ion-button {
//     height: 3rem;
//   }
// }
