/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Font family imports */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");

.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10rem;
}

ion-item {
  line-height: 1.6;
}

.gradient {
  --ion-background-color: radial-gradient(circle, #10434d, #111a4b, #3a0a61);
}

ion-card.content {
  margin: 1rem 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;

  ion-card-content p {
    font-size: 1rem;
    color: var(--ion-text-color);
    margin-bottom: 1rem;

    @media screen and(min-width: 768px) {
      & {
        font-size: 1.5rem;
      }
    }

    @media screen and(min-width: 992px) {
      & {
        font-size: 2rem;
      }
    }
  }
}

.toast {
  @media screen and(min-width: 768px) {
    & {
      font-size: 1.5rem;
    }

    &::part(message) {
      line-height: 30px;
    }
  }

  @media screen and(min-width: 992px) {
    & {
      font-size: 2rem;
    }

    &::part(message) {
      line-height: 40px;
    }
  }

  &::part(button) {
    @media screen and(min-width: 768px) {
      & {
        font-size: 1.125rem;
      }
    }

    @media screen and(min-width: 992px) {
      & {
        font-size: 1.5rem;
      }
    }
  }
}

.loader {
  @media screen and(min-width: 768px) {
    & {
      font-size: 1.5rem;
      --max-width: 350px;
    }
  }

  @media screen and(min-width: 992px) {
    & {
      font-size: 2rem;
      --max-width: 400px;
    }
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 2.125rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.875rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1.625rem;
  }

  h6,
  p,
  li,
  a,
  ion-button,
  ion-icon {
    font-size: 1.5rem;
  }

  ion-button {
    height: 3rem;
  }

  ion-menu {
    --max-width: 23rem;
    --min-width: 23rem;
    --width: 23rem;
  }

  ion-toolbar {
    --min-height: 5rem;

    ion-title {
      font-size: 2rem;
    }
  }

  ion-item {
    font-size: 1.75rem;
    --min-height: 5rem;

    ion-icon {
      font-size: 2rem;
    }
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 2.625rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.375rem;
  }

  h4 {
    font-size: 2.25rem;
  }

  h5 {
    font-size: 2.125rem;
  }

  h6,
  p,
  li,
  a,
  ion-button,
  ion-icon {
    font-size: 2rem;
  }
  ion-button {
    height: 4rem;
  }
}
