<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Find Icon by Text Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-prompt [(query)]="query" (queryEmitter)="update($event)" [style.display]="query ? 'none' : 'block'"></app-prompt>
  <app-results
    [(query)]="query"
    [icons]="results$ | async"
    (queryEmitter)="update($event)"
    *ngIf="query" [style.display]="query ? 'block' : 'none'"
  ></app-results>
</ion-content>
