ion-header {
  --ion-toolbar-background: #d5dce4 !important;
}
.header-md::after {
  display: none;
}

ion-content {
  &,
  ion-header ion-toolbar {
    --background: #d5dce4 !important;
  }

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    ion-img {
      max-width: 190px;
      max-height: 112px;
      cursor: pointer;
    }
  }
}
