ion-grid {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  ion-row {
    min-width: 400px;
  }
}

ion-item small {
  line-height: 1;
  margin-bottom: 8px;
  display: block;
}
